html {
  box-sizing: border-box;
}

.phone-screen {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: #f6f6f6;
  background-color: #121212;
}

pre {
  font-size: 13pt;
  font-family: "Times New Roman", serif;
  /* The following lines turn on wordwrap */
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.annotation, .anno {
  font-style: oblique;
  font-weight: bold;
  background-color: coral;
}

/* the <hr> tag is only used where pages are missing */
hr {
  margin-left: 0px;
  color: white;
  background-color: white;
  border: 0px;
  height: 10px;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.quoteLink {
  color:olive;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

