* {
  box-sizing: border-box;
}

html {
  border: 1px solid black;
}

body {
  margin: 0;
}

.phone-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: #f6f6f6;
  background-color: #121212;
  border: 3px solid red;
}

pre {
  font-size: 16px;
  font-family: "Liberation Sans";
  /* The following lines turn on wordwrap */
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.annotation, .anno {
  background-color: yellow;
}

/* the <hr> tag is only used where pages are missing */
hr {
  margin-left: 0px;
  color: white;
  background-color: white;
  border: 0px;
  height: 10px;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.quoteLink {
  color:white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*align-items: center;*/
  background-color: grey;
}

section div {
  display: flex;
  width: 100%;
  border: 5px solid grey;
  justify-content: center;
}

header {
  display:flex; 
  flex-direction:column; 
  align-items:center;
  position:relative;
  border: 7px solid goldenrod;
}

.logo {
  border: 7px solid darkolivegreen;
}

.logoRow {
  font-family: 'Roboto Slab', serif; 
  padding-right:20px; 
  padding-left:5px; 
  /*background-color:#121212;*/
  background-color: darkolivegreen;
}

blockquote {
  color:white; 
  text-align:justify; 
  text-justify:inter-word; 
  margin:0; 
  padding:5px;
  border:1px solid white;
}
